/*
mystyle
*/

/* 
변수 variables
*/

:root {
    --primary-color: #1f1f1f;
}

.ec-base-product .prdList{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main_product_slide .ec-base-product .prdList{
flex-wrap: nowrap;
}

.ec-base-product .prdList > li{
    flex: none;
    margin:0 0 70px 0;
}
.ec-base-product .prdList .prdList__item{
    margin:0 10px;
}

.ec-base-product .prdList__item .thumbnail{

}
.ec-base-product .prdList__item .thumbnail .prdIcon.ec-product-bgRT{
    background-position: calc(100% - 10px) calc(0% + 10px);
}
.ec-base-product .prdList__item .thumbnail .icon__box{
    opacity: 0;
    position: absolute;
    top:auto;
    bottom:20px;
    left:0; right:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ec-base-product .prdList > li:hover .prdList__item .thumbnail .icon__box{
    opacity: 1;
    transition: all 1s;
}

.ec-base-product .prdList .prdList__item .icon__box > span {
    display: block;
    position: relative;
    font-size: 11px;
    font-weight: 500;
    color:#000;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 3px;

    min-width: 72px;
    height: auto;
    padding: 10px 15px;

    /* min-width: 100px;
    height: 40px;
    padding: 8px; */

    line-height: 1;
    background-color: rgba(255, 255, 255, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF,endColorstr=#B3FFFFFF);
}

.ec-base-product .prdList .prdList__item .icon__box > span:hover,
.ec-base-product .prdList .prdList__item .icon__box > span.on {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}

.ec-base-product .prdList .prdList__item .icon__box > span img {
    position: absolute;
    width: auto;
    max-width: none;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}


/* card-border */
.ec-base-product .prdList.card-border>li{
    
}
.ec-base-product .prdList.card-border .prdList__item{
    margin: 0 10px;
    border: 1px solid currentColor;
}

.ec-base-product .prdList__item.card-border  .description{
    min-height: 100px;
    box-sizing: border-box;
    padding: 0 16px;
}

/* card-border-no-margin */
.ec-base-product .prdList{
    --border: 1px solid currentColor;
}
.ec-base-product .prdList.card-border-no-margin{
    border-top: var(--border);
}
.ec-base-product .prdList.card-border-no-margin>li{
    margin:0;
}
.ec-base-product .prdList.card-border-no-margin .prdList__item{
    margin: 0 0px;
    border-left: var(--border);
    border-bottom: var(--border);
}
.ec-base-product .prdList.card-border-no-margin>li:nth-child(4n) .prdList__item{
    border-right: var(--border);
}

.ec-base-product .prdList.card-border-no-margin .prdList__item .description{
    min-height: 100px;
    box-sizing: border-box;
    padding: 0 16px;
}


/* section 관련 스타일 수정 */
/* .section{
    border: 1px solid red;
}
.content-test{
    border: 1px solid dodgerblue;
    min-height: 200px;
    background-color: #ccc;
} */

/* 
1. section_full_content_center 

section bgc
content-testsms 가운데 정렬
main_title이 content 너비 범위에서 정렬되어야 함
*/

.section{
    /* section 변수 선언 */
    --section-bg : rgb(255, 247, 216);
    --section-padding-top-bottom:40px 0;
    --section-main-banner-padding : 16px;
}

/* max-width: 1230px; */
#contents > .section_full_content_center{
    background-color: var(--section-bg);
    width:100%;
    max-width: none;
    padding: var(--section-padding-top-bottom);
}
#contents > .section_full_content_center .main_3dan_banner .main_banner_txt{
    margin-top: 0;
    padding: var(--section-main-banner-padding);
    background-color: #fff;
    box-sizing: border-box;
}


@media (min-width: 1024px) {
    #contents > .section_full_content_center > div{
        max-width: 1230px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* 
2. section_full_only_content
제목은 기존 섹션의 너비에 맞춰 정렬
+ 콘텐츠는 브라우저 전체 사용
*/
/* max-width: 1230px; */
#contents > .section_full_only_content{
    background-color: var(--section-bg);
    width:100%;
    max-width: none;
    padding: var(--section-padding-top-bottom);
}

@media (min-width: 1024px) {
    #contents > .section_full_only_content > .main_title{
        max-width: 1230px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* 
visual_swiper
hero section
*/
.visual-section{
    --visual-swiper-width: 100%;
}
@media (max-width: 1024px) {
    #container #contents.ub-style{
        max-width: none;
        width: 100%;
    }
}
.visual-section .visual_swiper{
    width: var(--visual-swiper-width);
}
.visual-section .swiper .swiper-slide{}
.visual-section .swiper-slide picture{
    display: block;
}
.visual-section .swiper-slide picture source,
.visual-section .swiper-slide picture source img{
    display: block;
    width:100%;
    height: auto;
    max-width: none;
}



/* 
ub-swiper
1. navigation 이미지 변경
2. pagenation 색상 변경
*/
.ub-swiper .swiper-button-prev,
.ub-swiper .swiper-button-next{
    width:60px; height:60px;
    background-size: contain;
}
.ub-swiper .swiper-button-prev{
    background-image: url(images/arrow_back.svg);
    background-position: left center;
    left: 20px;
    right: auto;
}

.ub-swiper .swiper-button-next {
    background-image: url(images/arrow_forward.svg);
    background-position: center;
    right: 20px;
    left: auto;
}
.ub-swiper .swiper-pagination{
    left:0;
    bottom:1rem;
    width:100%;
}
.ub-swiper .swiper-pagination-bullet{
    vertical-align: middle;
    margin-right:12px;
}
.ub-swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--primary-color);
}

/* 
swiper controls가 슬라이드 아래 표시
*/
.ub-swiper.ub-swiper-controls-bottom{
    width: 80%;
    margin: 0 auto;
}
.ub-swiper.ub-swiper-controls-bottom .swiper-wrapper{
    align-items: end;
}
.ub-swiper.ub-swiper-controls-bottom .swiper-slide{
    width:100% !important;
    transform: scale(0.9);
    transform-origin: center bottom;
    /* 사이즈가 조정되는 기준 위치 잡는 css */
}
.ub-swiper.ub-swiper-controls-bottom .swiper-slide-active{
    transform: scale(1);
}
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls{
    display: flex;
    gap:16px;
    box-sizing: border-box;
    align-items: center;
    padding-top:10px;
}

/* flex-item */
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls>div{
    position: static;
    box-sizing: border-box;
    flex-shrink: 1;
}
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls .swiper-scrollbar{
    order: 1;
    width:100%;
    height:4px;
}
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls .swiper-pagination-fraction{
    order: 2;
    width:auto;
    display: flex;
    gap:0.5rem;
    font-size: 0.8rem;
}
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls .swiper-button-prev,
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls .swiper-button-next{
    order: 3;
    width:18px;
    height:18px;
    margin-top: 0;
}

